{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
    <div class="m-auto col-11">
        <h2 class="text-center">Inscription</h2>
        {{ form(form) }}
    </div>

{% endblock %}
